.pagination {
  display: inline-flex;
  margin-bottom: 200px;
}

.pagination li {
  width: 45px;
  height: 45px;
  border: 1px solid #fc5e1e;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 999px;
}

.pagination li:first-child,
.pagination li:last-child {
  color: #fc5e1e;
}

.pagination li:not(:last-child) {
  margin-right: 10px;
}

.pagination li:hover {
  background-color: #fc5e1e;
  color: white;
}

.select {
  background-color: #fc5e1e;
  color: white;
}
