.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 95;
  display: none;
  transition: background-color 0.2s;
}

.blur.active {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.cart {
  position: fixed;
  top: 0px;
  right: -400px;
  min-height: 100vh;
  max-height: 100vh;
  transition: right 0.2s ease-in-out;
  z-index: 95;
  overflow-y: auto;
  width: 395px;
  background-color: #f4f1ee;
}

.cart.active {
  right: 0;
}

.cart_products {
  height: 700px;
  position: relative;
  overflow-y: scroll;
}

.cart_button_buy {
  display: flex;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: white;
  flex-direction: column;
  gap: 1.25rem;
  position: fixed;
  bottom: 0;
  right: -400px;
  z-index: 50;
  transition: 0.2s ease-in-out;
  width: 395px;
}

.cart_button_buy.active {
  right: 0;
}

.cart_products::-webkit-scrollbar {
  display: none;
}
