.products_order_item {
  background-color: white;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow-y: scroll;
}

.products_order_item::-webkit-scrollbar {
  display: none;
}
